/* Base Start */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    color: #2F1C6A;
    background-color: #F4F5FF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 376px;
    padding: 48px 40px;
    background-color: white;
    border: 1px solid #D8DAE0;
    border-radius: 16px;
}

.button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.back-button {
    width: 100%;
    display: flex;
    gap: 6px;
    text-decoration: none;
    color: #2F1C6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.tos {
    color: #6D7081;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tos a {
    color: #6D7081;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    display: none;
    z-index: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
    overflow: auto;
}

.modal-content {
    padding: 20px;
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Base End */

/* Utilities Start */
.mb-12 {
    margin-bottom: 12px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mt-4 {
    margin-top: 4px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.pl-25 {
    padding-left: 25px;
}

.w-100 {
    width: 100%;
}

.wh-22 {
    width: 22px;
    height: 22px;
}

.w-0 {
    width: 0;
}

.p-12-24 {
    padding: 12px 24px;
}

.p-16-24 {
    padding: 16px 24px;
}

.p-12 {
    padding: 12px;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.me-5 {
    margin-right: 5px;
}

.ms-2 {
    margin-left: 2px;
}

.d-flex {
    display: flex;
}

.gap-8 {
    gap: 8px;
}

.text-center {
    text-align: center;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.text-left {
    text-align: left;
}

.background-color-niaga {
    background-color: #007dff;
}

.accent-color-niaga {
    accent-color: #007dff;
}

.background-color-niaga:hover {
    background-color: #0057b2;
}

.background-color-hostinger {
    background-color: #673DE6;
}

button.background-color-hostinger:hover {
    background-color: #5025D1;
}

.accent-color-hostinger {
    accent-color: #673DE6;
}

.color-niaga {
    color: #007dff;
}

.color-niaga:hover {
    color: #0057b2;
}

.color-hostinger {
    color: #673DE6;
}

.background-color-hostmania {
    background-color: #ff4546;
}

.background-color-hostmania:hover {
    background-color: #fd3b3c;
}

.color-hostmania {
    color: #ff2324;
}

.accent-color-hostmania {
    accent-color: #ff4546;
}

.background-color-hosting24 {
    background-color: #4671DD;
}

.background-color-hosting24:hover {
    background-color: #3762d9;
}

.color-hosting24 {
    color: #5e7ece;
}

.accent-color-hosting24 {
    accent-color: #4671DD;
}

.background-color-weblink {
    background-color: #4771B4;
}

.background-color-weblink:hover {
    background-color: #3065b7;
}

.color-weblink {
    color: #5a7cb2;
}

.accent-color-weblink {
    accent-color: #4771B4;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gray-border {
    border: 1px solid #dadce0;
}

.m-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.b-radius-4 {
    border-radius: 4px;
}

.b-radius-8 {
    border-radius: 8px;
}

.b-radius-2 {
    border-radius: 2px;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-decoration-none {
    text-decoration: none;
}

.color-black-50 {
    color: rgba(0, 0, 0, .5);
}

.color-black {
    color: #000;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px !important;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.non-resizable {
    resize: none;
}

.border-box {
    box-sizing: border-box;
}

.max-width-100 {
    max-width: 100%;
}

.max-width-450 {
    max-width: 450px;
}

.max-height-90 {
    max-height: 90%;
}

.min-width-350 {
    min-width: 350px;
}

/* Utilities End */


/* Components Start */
.logo img {
    padding: 20px 40px;
    margin-bottom: 24px;
}

.logo * {
    max-height: 30px;
}

.close-btn {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    line-height: 16px;
}

.title {
    align-self: stretch;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-top: unset;
}

.input {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    display: block;
    width: 100% !important;
    padding: .85em 1.15em !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    transition: all .15s ease-in-out !important;
    font-size: 14px;
    vertical-align: middle;
    height: 48px !important;
    border: 1px solid #DADCE0 !important;
    box-sizing: border-box;
    border-radius: 8px !important;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    box-shadow: none;
}

.label {
    width: 100%;
    color: #6D7081;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.height-unset {
    height: unset !important;
}

.primary-action {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    vertical-align: middle;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: 8px !important;
    border: 1px solid transparent;
    filter: none;
    width: 100% !important;
    padding: .7rem .9rem;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    -webkit-appearance: button;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.secondary-action {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.error {
    font-size: 12px;
    line-height: 12px;
    color: #FC5185 !important;
    padding-left: 16px;
    height: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: start;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    font-weight: 100;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-info {
    background-color: #EBE4FFFF;
    border-color: #ded3ff;
    color: #2F1C6AFF;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.or-wrapper {
    height: 20px;
}

.or-wrapper hr {
    width: 100%;
    position: absolute;
    top: 2px;
    background-color: #dadce0;
    border: none;
    height: 1px;
}

.or-wrapper p {
    padding: 0 10px;
    background: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2F1C6A;
    font-size: 16px;
}

.facebook {
    background-color: #1877f2;
}

.github {
    background-color: #2f363d;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25px;
}

.not-a-member {
    color: #43434b;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
}

.show-password-eye {
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.country-selector {
    line-height: 1.5;
    font-size: 14px;
    color: #2f1c6a;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    margin-bottom: 12px;
    text-decoration: none!important;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-family: DM Sans, sans-serif;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    margin: 0;
    font-size: 1em;
    width: 1.1em;
    height: 1.1em;
    border: 2px solid #673DE6;
    border-radius: 4px;
    display: grid;
    place-content: center;
}

.custom-checkbox input[type="checkbox"]:checked::before {
    content: '✓';
    font-size: 0.85em;
    color: #673DE6;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #fff;
}

.custom-checkbox span {
    margin-left: 0.5em;
}
/* Components End */

/* Pages Start */
.flag {
    width: 30px;
    height: 19px;
    display: inline-block;
    background-image: url("/assets/images/flag/flags.png");
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center
}

.flag-gr {
    background-position: -5px -5px;
}

.flag-ar {
    background-position: -5px -34px;
}

.flag-cz {
    background-position: -5px -63px;
}

.flag-sk {
    background-position: -5px -92px;
}

.flag-dk {
    background-position: -5px -121px;
}

.flag-de {
    background-position: -5px -150px;
}

.flag-gb {
    background-position: -5px -179px;
}

.flag-in {
    background-position: -5px -208px;
}

.flag-jp {
    background-position: -5px -237px;
}

.flag-ph {
    background-position: -5px -266px;
}

.flag-us {
    background-position: -5px -295px;
}

.flag-ca {
    background-image: url("/assets/images/flag/canada-flag.png");
    background-size: 30px 19px;
}

.flag-au {
    background-image: url("/assets/images/flag/australia-flag.png");
    background-size: 30px 19px;
}

.flag-es {
    background-position: -5px -324px;
}

.flag-ar {
    background-position: -5px -353px;
}

.flag-co {
    background-position: -5px -382px;
}

.flag-mx {
    background-position: -5px -411px;
}

.flag-et {
    background-position: -5px -440px;
}

.flag-ee {
    background-position: -5px -440px;
}

.flag-fi {
    background-position: -5px -469px;
}

.flag-fr {
    background-position: -5px -498px;
}

.flag-il {
    background-position: -5px -527px;
}

.flag-hr {
    background-position: -5px -556px;
}

.flag-hu {
    background-position: -5px -585px;
}

.flag-id {
    background-position: -5px -614px;
}

.flag-it {
    background-position: -5px -643px;
}

.flag-kr {
    background-position: -5px -672px;
}

.flag-lt {
    background-position: -5px -701px;
}

.flag-lv {
    background-position: -5px -730px;
}

.flag-my {
    background-position: -5px -759px;
}

.flag-nl {
    background-position: -5px -788px;
}

.flag-no {
    background-position: -5px -817px;
}

.flag-pk {
    background-position: -5px -1163px;
}

.flag-pl {
    background-position: -5px -846px;
}

.flag-pt {
    background-position: -5px -875px;
}

.flag-br {
    background-position: -5px -904px;
}

.flag-ro {
    background-position: -5px -933px;
}

.flag-ru {
    background-position: -5px -962px;
}

.flag-se {
    background-position: -5px -991px;
}

.flag-th {
    background-position: -5px -1020px;
}

.flag-tr {
    background-position: -5px -1049px;
}

.flag-ua {
    background-position: -5px -1078px;
}

.flag-vn {
    background-position: -5px -1107px;
}

.flag-cn {
    background-position: -5px -1136px;
}

/* Pages End */

/* Responsive Start */

@media (max-width: 768px) {
    .container {
        min-height: unset;
        padding: 16px;
    }

    .logo img {
        padding: 16px;
        margin-bottom: unset;
    }

    .title {
        font-size: 24px;
    }

    .content {
        padding: 32px 24px;
    }
}

@media (max-width: 430px) {
    .content {
        width: unset;
    }
}

@media (max-width: 320px) {
    .social-login-block {
        flex-direction: column;
    }

    .social {
        width: 75%;
        margin-bottom: 12px;
    }
}

/* Responsive End */

/* Account recovery start*/

.account-recovery-reason-picker {
    border: 1px solid #D5DFFF;
    background: #FAFBFF;
}

/* Account recovery end*/

/* Promo start */
.container-promo {
    display: flex;
    min-height: 100vh;
}
.register-promo-form, .register-promo-box {
    flex: 1;
}
.register-promo-form {
    background-color: #F4F5FF;
}

.register-promo-box {
    background-color: #1F1346;
    background-image: url("/assets/images/register-promo/background-elements.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 168px 80px 80px 56px;
}

.trial-container {
    padding: 30px;
}

.cancel-text {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    color: #b6b2ff;
}

.trial-heading {
    margin: 0;
    margin-top: 12px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
}

.description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.features {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.features li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.features img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
}

.trustpilot-widget {
    margin-top: 130px;
}

.register-promo-form .content {
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    .register-promo-box {
        display: none;
    }
    .register-promo-form {
        flex: 1; /* Ensure the left side takes full width */
    }

    .register-promo-mobile-box {
        background-color: #1F1346;
        background-image: url("/assets/images/register-promo/background-elements.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        color: white;
        margin-bottom: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .register-promo-mobile-box .trial-container {
        padding: 24px;
        text-align: center;
    }

    .register-promo-mobile-box.bottom-box .trial-container {
       padding: 0px;
       text-align: left;
    }

    .trustpilot-widget {
        margin-top: 48px;
    }

    .description {
        margin-bottom: 24px;
    }

    .trial-heading {
        font-size: 24px;
        line-height: 32px;
    }

    h3.title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (min-width: 1025px) {
    .register-promo-mobile-box {
        display: none;
    }
}
/* Promo end */
